.button {
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.enabled {
  background-color: #5C87DB;
  cursor: pointer;
}

.enabled:hover {
  background-color: #3E67B7;
}

.disabled {
  background-color: #5C87DB;
  color: rgba(255, 255, 255, 0.5);;
}

.disabled:hover {
  background-color: #B7BAC1;
  cursor: not-allowed;
}
